body
{
	font-family: Arial;
	margin: 0 auto;
}

#left
{
	background-color: SaddleBrown;
	color: white;
	height: 100px;
	width: 55%;
	font-size: 120%;
	float: left;
	
}

#center
{
	background-color: SaddleBrown;
	color: white;
	height: 100px;
	width: 25%;
	float: left;
}

#right
{
	background-color: SaddleBrown;
	color: white;
	height: 100px;
	width: 20%;
	text-align: right;
	float: right;
}

#main
{
	clear: both;
	background-color: Snow;
	padding: 70px;
	
}

#footer
{
	background-color: SaddleBrown;
	color: white;
	height: 100px;
	width: 55%;
	font-size: 120%;
	float: left;
}

#footer2
{
	background-color: SaddleBrown;
	color: white;
	height: 100px;
	width: 25%;
	float: left;
}

#footer3
{
	background-color: SaddleBrown;
	color: white;
	height: 100px;
	width: 20%;
	text-align: right;
	float: right;
}

#kw
{
	border-style: dotted;
	border-width: 2px;
	border-color: SaddleBrown;
	padding: 20px;
	background-color: Snow;
	float: left;
	color: SaddleBrown;
}

